@font-face {
    font-family: 'Royal Signage';
    font-weight: 400;
    src: url('../../assets/fonts/RoyalSignage.otf') format('opentype'),
        url('../../assets/fonts/RoyalSignage.ttf') format('truetype');
}
